/*===================Configs Gerais===================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --font: 'Sen', sans-serif;
    --red: #ffb3ba;
    --red__active: #ffc6cc;
    --orange: #ffdfba;
    --yellow: #ffffba;
    --green: #baffc9;
    --blue: #bae1ff;
    --brown: #ad9d93;
    --black: #464545;
}

/*===================Configs do Body===================*/

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/*===================Configs do Container===================*/

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--brown);
    width: 900px;
    height: 450px;
}

.card__container {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/*===================Configs do Card do Perfil===================*/

.card__profile {
    color: black;
    background-color: var(--blue);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    height: 404px;
    border-radius: 15px;
    border: 2px solid var(--brown)
}

.profile__header {
    background-color: var(--red);
    border-radius: 15px;
    border-bottom: 2px solid var(--brown);
    display: flex;
    align-items: center;
}

.profile__img {
    margin: 10px;
    width: 80px;
    height: 80px;
}

.profile__name {
    font-size: 20px;
    font-weight: 600;
}

/*===================Config das Infos do Perfil===================*/

.profile__info {
    margin: 0 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

/*===================Configs do Botão de Adicionar Tasks===================*/

.info__btn {
    color: black;
    font-weight: 500;
    background-color: var(--red);
    border: 2px solid var(--brown);
    border-radius: 5px;
    width: 175px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__btn:hover {
    cursor: pointer;
    background-color: var(--red__active);
}

.profile__info>h1 {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*===================Configs das Últimas Tasks Adicionadas===================*/

.info__last__tasks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: left;
    border-radius: 5px;
    width: 100%;
}

.task__title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.task__hours {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.task__title>h1,
.task__hours>h1 {
    font-size: 17px;
}

.task__title>p,
.task__hours>p {
    font-size: 10px;
    font-weight: 700;
}

.task__title>p {
    height: 15px;
}

.task__hours>p {
    background-color: var(--red);
    width: 100%;
    height: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--brown);
}

.last__task__row>p:last-child {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 15px;
    border-radius: 5px;
}

/*===================Configs Gerais da Main===================*/

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*===================Configs do Card das Tasks===================*/

.task__row {
    display: flex;
    gap: 20px;
}

/*===================Configs do Display do Buscador===================*/

.card__display {
    display: flex;
    align-items: first baseline;
    justify-content: right;
    gap: 20px;
    height: 200px;
}

.card__display__search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 20px;
}

.display__search__input {
    height: 25px;
    border: 1px solid var(--black);
}

.task__icon__search {
    width: 20px;
}

.task__icon__search:hover {
    cursor: pointer;
}

/*===================Configs das Tasks===================*/

.card__task__row {
    display: flex;
    gap: 20px;
    z-index: 2;
    height: 200px;
}

.card__tasks {
    background-color: var(--yellow);
    width: 200px;
    height: fit-content;
    text-align: center;
    color: var(--white);
    border-radius: 15px;
    border: 2px solid var(--brown);
}

.card__tasks:nth-child(2) {
    background-color: var(--green);
}

.card__tasks:last-child {
    background-color: var(--orange);
}

/*===================Card das Tasks===================*/

.task__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    border-radius: 15px;
}

.task__item__header {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border-bottom: 2px solid var(--brown);
}

/*===================Botões do Header===================*/

.task__icon__edit,
.task__icon__delete {
    width: 13px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.task__icon__delete:hover,
.task__icon__edit:hover {
    cursor: pointer;
    background-color: white;
    width: 13px;
    height: 13px;
    border-radius: 50px;
}

/*===================Itens da Task===================*/

.task__item__title {
    width: 100px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task__item_date {
    font-size: 11px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    border-radius: 5px;
    border-style: solid;
}

input:first-child {
    width: 150px;
    font-size: 11px;
}

input:last-child {
    width: 85px;
    font-size: 10px;
    padding-left: 5px;
}

.date_time {
    display: flex;
    gap: 10px;
    width: 160px;
}

.task__item__desc {
    font-size: 10px;
    font-weight: 600;
    padding: 15px;
    margin-bottom: 20px;
    border-style: double;
    border-radius: 15px;
    width: 170px;
    height: 63px;
}

.task__desc {
    display: flex;
    flex-direction: column;
}

.date_time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 170px;
}